<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_CustomOrder>
            <version>1.0.0</version>
        </Edge_CustomOrder>
    </modules>
    <global>
        <helpers>
            <customorder>
                <class>Edge_CustomOrder_Helper</class>
            </customorder>
        </helpers>
        <models>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Edge_CustomOrder_Model_Adminhtml_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_create_sidebar>Edge_CustomOrder_Block_Adminhtml_Sales_Order_Create_Sidebar</sales_order_create_sidebar>
                </rewrite>
            </adminhtml>
        </blocks>
        <template>
            <email>
                <customorder_email_customorder_template translate="label" module="customorder">
                    <label>Custom Order Email Template</label>
                    <file>edge_custom_order.html</file>
                    <type>html</type>
                </customorder_email_customorder_template>
            </email>
        </template>
    </global>
    <adminhtml>
         <layout>
            <updates>
                <customorder>
                    <file>edge/customorder.xml</file>
                </customorder>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <customorder>
                <use>admin</use>
                <args>
                    <module>Edge_CustomOrder</module>
                    <frontName>customorder</frontName>
                </args>
            </customorder>
        </routers>
    </admin>
</config>